//////////// Fonts variable
//////////////////////////////////////////////////////////////////////////////
$primary-fonts: 'Cabin';
$secendary-fonts: 'Lato',
sans-serif;

//////////// Color variable
//////////////////////////////////////////////////////////////////////////////
$body-color : #ffffff;
$theme-color : rgba(9, 33, 67, 1);
$theme-color2 : #f4a51c;
$text-color : #5a5a5a;
$text-color2 : #252F5A;
$text-color3 : #070B28;

//////////// Font Size variable
//////////////////////////////////////////////////////////////////////////////
$font-xs: 10px;
$font-s : 12px;
$font-base: 14px;
$font-md : 18px;
$font-lg : 22px;
$font-xl : 26px;
$font-xxl: 32px;
$font-xxxl : 56px;
$font-xxxxl : 70px;


// linear-gradient(to left, #ff344d, #d2273c)